<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ESD-ListaSequencial02/src/exericicio17/Programa.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="exericicio17.Programa"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ESD-ListaSequencial02"/>
</launchConfiguration>
