<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="D:/ONEDRIVE/BACKUP_FACUL_2/PROGRAMAÇÃO_DE_APLICAÇÕES_WEBJEE/PROJETOS(JEE)/responsive-primefaces-javaone-2016-master/responsive-primefaces"/>
</launchConfiguration>
